<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Django Chatbot{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Django ChatBot</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">welcome {{ user.username }}</a></li>
            {% if user.is_authenticated %}
        <li><a href="/logout">Logout</a></li>
            {% else %}
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
            {% endif %}

    </ul>
  </div>
</nav>

    {% if user.is_authenticated %}
    <p>hello</p>
    <p>welcome {{ user.username }}</p>
    <p><a href="/logout">Logout</a></p>
    {% else %}
    <p><a href="/login">Login</a></p>
    <p><a href="/register">Register</a></p>
    {% endif %}

<button onclick="myFunction(value='fat')">Fat</button>
<button onclick="myFunction(value='stupid')">Stupid</button>
<button onclick="myFunction(value='dumb')">Dumb</button>
<p id="demo"></p>

<textarea id="chat-log" cols="100" rows="20" readonly></textarea><br/>
<input id="chat-message-input" type="text" size="100" placeholder="Type `help` for the commands list."/><br/>
<input id="chat-message-submit" type="button" value="Send"/>

<table class="table table-bordered">
   <tr>
     <th>User</th>
     <th>count</th>
   </tr>
       {% for q in test %}

   <tr>
       <td>{{q.user__username}}</td>
       <td>{{q.count}}</td>
   </tr>

       {% endfor %}

</table>




<table class="table">
   <tr>
     <th>User</th>
     <th>calls</th>
     <th>Requested On</th>
   </tr>
       {% for q in query %}

   <tr>
       <td>{{q.user}}</td>
       <td>{{q.message}}</td>
       <td>{{q.created_on|date:"M d, Y" }}</td>
   </tr>

       {% endfor %}

</table>




</body>
<script>


    var wss_protocol = (window.location.protocol == 'https:') ? 'wss://': 'ws://';
    var chatSocket = new WebSocket(
        wss_protocol + window.location.host + '/ws/new_chat/'
        );

    chatSocket.onopen = function(e) {
        document.querySelector('#chat-log').value += ('Welcome to the Django Chatbot.\nPlease type `help` for the commands list.\n')
    }

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        document.querySelector('#chat-log').value += ('Socket closed unexpectedly, please reload the page.\n')
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };


        function myFunction(value) {
         location.href = "test/" + value

        var message = value;
        chatSocket.send(JSON.stringify({
            'message': message
        }
        )
        );

        }


</script>
</html>